body {
  font-family: "Roboto", Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

#content {

}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding-left: 20vw;
    padding-right: 20vw;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    width: 30%;
    background-color: #3F51B5;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#board {
    height: 80vh;
    width: 80vh;
    background: yellow;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    background: pink;
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

.black {
    background: #449e48;
}

.white {
    background: white;
}

#footer {
    display: flex;
    justify-content: center;
    height: 5vh;
}
